.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  border: 2px solid black;
  margin: 5px;
}




